project_name = "oficina-mecanica"
aws_region   = "us-east-1"
environment  = "dev"

cluster_version    = "1.30"
node_instance_type = "t3.small"
node_desired_size  = 1
node_min_size      = 1
node_max_size      = 1

# newrelic_account_id  = definido via TF_VAR_newrelic_account_id
# newrelic_api_key     = definido via TF_VAR_newrelic_api_key (User API Key, NRAK-...)
# newrelic_license_key = definido via TF_VAR_newrelic_license_key (INGEST-LICENSE...)
newrelic_region              = "US"
newrelic_app_name            = "oficina-mecanica-api"
newrelic_notification_email  = "time-oficina@example.com"
